/* Style for inner container */
.inner-container {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9); /* White background with transparency */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for each list item */
.list-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #ddd;
  transition: transform 0.2s; /* Animation effect */
}

/* Scale the list item on hover */
.list-item:hover {
  transform: scale(1.02);
}

/* Style for item details */
.item-details {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin-left: 10px;
}

/* Style for rate and quantity */
.rate,
.quantity {
  display: block;
  margin: 5px 0;
}

/* Style for button container */
.button-container {
  display: flex;
  justify-content: center;
}

/* Style for total amount */
.total-amount {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}
