<div class="cart-container">
  <h1 class="cart-title">Shopping Cart</h1>
  <div class="cart-layout">
    <div class="cart-items">
      <ul class="list-group">
        <li *ngFor="let item of cartItems" class="cart-item">
          <div class="cart-img">
            <img [src]="item.img" alt="{{ item.name }}" />
          </div>
          <div class="cart-details">
            <h3>{{ truncateName(item.name) }}</h3>
            <p>{{ item.description }}</p>
            <p class="rate" style="text-decoration: line-through">
              Price: <span>₹{{ item.price }}</span>
            </p>
            <p class="rate">
              Rate: <span>₹{{ item.rate }}</span>
            </p>
            <p class="rate">
              Discount: <span>{{ item.discount }}%</span>
            </p>

            <div class="quantity-controls">
              <div style="display: flex; gap: 10px">
                <button (click)="subToCart(item.name, 1)" class="qty-btn">
                  -
                </button>
                <input type="text" [(ngModel)]="item.qty" class="qty-input" />
                <button
                  (click)="addToCart(item.name, item.rate, 1, item.img)"
                  class="qty-btn"
                >
                  +
                </button>
              </div>
              <div>
                <button (click)="removeItem(item)" class="remove-btn">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div *ngIf="cartItems.length === 0" class="empty-cart">
        Your cart is empty!
      </div>
    </div>

    <!-- Right Side: Summary -->
    <div class="cart-summary">
      <h2>Order Summary</h2>
      <p>Total Items: {{ cartItems.length }}</p>
      <p>
        Total Amount: <strong>${{ getTotalAmount() }}</strong>
      </p>
      <button
        type="button"
        class="checkout-btn"
        (click)="pay(getTotalAmount())"
      >
        Pay Now
      </button>
    </div>
  </div>
</div>
