<div class="container">
  <div class="Under-container">
    <div class="Inner-User_container" >
      <input 
        type="text" 
        placeholder="Enter Your Item Name" 
        [(ngModel)]="filterText" 
        (input)="filterItems()" 
      />
      <ul class="list-group" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 10px; justify-content: space-evenly;">
        <li *ngFor="let item of filterdata" class="item-list" style="display: flex; width: 20%;">
          <div class="item-details">
            <img [src]="item.img" alt="{{ item.name }}" class="img-fluid mt-2" />
            <div>
              <strong class="item-name">{{ truncateName(item.name) }}</strong><br />
              <span style="font-weight: 500; color:red">{{ item.rate }} USD</span><br />
            </div>
            <div class="button-container">
              <button (click)="addToCart(item)" class="btn btn-sm btn-primary" [disabled]="item.addedToCart">
                {{ item.addedToCart ? 'Added to Cart' : 'Add to Cart' }}
              </button>
            </div>
          </div> 
        </li>
      </ul>

      <div *ngIf="filterdata.length === 0" class="alert alert-warning text-center mt-4">
        No items available!
      </div>
    </div>
  </div>
</div>
