.wishlist-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  /* background: #f9f9f9; */
}

.wishlist-left {
  flex: 2;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wishlist-right {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: sticky;
  top: 20px;
}

.liked-items-list {
  list-style: none;
  padding: 0;
}
.add-to-cart {
    margin-top: 10px;
  display: flex;
  justify-content: space-between;
  .add-to-cart-btn {
    background-color: #ffc107;
    color: black;
  }
}

.liked-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
}

.liked-item:hover {
  transform: scale(1.02);
}

.item-image {
  width: 200px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.item-details {
  flex: 1;
}

.price-info {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

.discount {
  color: #e44d26;
  font-weight: bold;
}

.rate {
  background: greenyellow;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
}

.price {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}
.color-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.color-label {
  color: #444;
  font-weight: bold;
}

.color-badge {
  background: #f1f1f1;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #ddd;
}

.color-box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.info-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.quantity-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.quantity-label {
  color: #444;
  font-weight: bold;
}

.quantity-badge {
  background: #f1f1f1;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  border: 1px solid #ddd;
}

button {
  padding: 8px 12px;
  border: none;
  background: #ff4d4d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e60000;
}

.checkout-btn {
  background: #28a745;
  font-size: 16px;
  font-weight: bold;
}

.checkout-btn:hover {
  background: #218838;
}

.no-items {
  text-align: center;
  font-size: 18px;
  color: #888;
}
