<h3 class="text-center my-4">Add Item to Shop</h3>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6"> <!-- 50% width on medium and larger screens -->
      <form (ngSubmit)="onSubmit()" class="w-100"> <!-- w-100 to ensure full width within the column -->
        <div class="mb-3">
          <label for="itemName" class="form-label">Item Name</label>
          <input type="text" id="itemName" name="name" [(ngModel)]="cartItem.name" class="form-control" placeholder="Enter Your Item Name" required/>
        </div>
        
        <div class="mb-3">
          <label for="itemRate" class="form-label">Item Rate</label>
          <input type="number" id="itemRate" name="rate" [(ngModel)]="cartItem.rate" class="form-control" placeholder="Enter Your Item Rate" required/>
        </div>
        <div>
          <label for="itemImg" class="form-label">Item Image</label>
          <input type="text" id="itemimg" name="rate" [(ngModel)]="cartItem.img" class="form-control" placeholder="Enter Your Image Url" required/>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
